apiVersion: apps/v1
kind: Deployment
metadata:
  name: raghu-app
  labels:
    app: raghu-app
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: raghu-app
  template:
    metadata:
      labels:
        app: raghu-app
    spec:
      containers:
        - name: raghu-container
          # Harness will replace this with the artifact image from CI.
          image: <+artifact.image>
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
